<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.juliusawen.coastercreditcounter">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".backend.application.App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/name_app"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".frontend.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".frontend.locations.ShowLocationsActivity" />
        <activity android:name=".frontend.elements.SortElementsActivity" />
        <activity android:name=".frontend.elements.PickElementsActivity" />
        <activity android:name=".frontend.parks.ShowParkActivity" />
        <activity android:name=".frontend.visits.ShowVisitActivity" />
        <activity android:name=".frontend.TestActivity" />
        <activity android:name=".frontend.visits.CreateVisitActivity" />
        <activity android:name=".frontend.elements.ManageOrphanElementsActivity" />
        <activity android:name=".frontend.navigationHub.NavigationHubActivity" />
        <activity
            android:name=".frontend.locations.CreateLocationActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".frontend.attractions.CreateOrEditCustomAttractionActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".frontend.parks.CreateParkActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".frontend.elements.EditElementActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".frontend.CreateSimpleStringActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <service
            android:name=".backend.persistency.PersistenceService"
            android:exported="false" />
    </application>

</manifest>