<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.juliusawen.coastercreditcounter">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/name_app"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".userInterface.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".userInterface.activities.ShowLocationsActivity" />
        <activity android:name=".userInterface.activities.SortElementsActivity" />
        <activity android:name=".userInterface.activities.PickElementsActivity" />
        <activity android:name=".userInterface.activities.ShowParkActivity" />
        <activity android:name=".userInterface.activities.ShowVisitActivity" />
        <activity android:name=".userInterface.activities.TestActivity" />
        <activity android:name=".userInterface.activities.CreateVisitActivity" />
        <activity android:name=".userInterface.activities.ManageOrphanElementsActivity" />
        <activity android:name=".userInterface.activities.NavigationHubActivity" />
        <activity
            android:name=".userInterface.activities.CreateLocationActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".userInterface.activities.CreateOrEditCustomAttractionActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".userInterface.activities.CreateParkActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".userInterface.activities.EditElementActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".userInterface.activities.CreateSimpleElementActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <service
            android:name=".persistence.PersistenceService"
            android:exported="false" />
    </application>

</manifest>